<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    
    <Bundle Name="CUBRID For WSL" 
            Version="1.0.0" 
            Manufacturer="CUBRID" 
            UpgradeCode="{B8A5F3E1-2C4D-4F9A-8E7B-6A5C9D3E2F1A}"
            IconSourceFile="..\..\resources\cubrid_icon.ico"
            DisableModify="yes"
            DisableRemove="no">

        <!-- <util:RegistrySearch Id="CheckRegInstalled" 
                             Root="HKCU" 
                             Key="Software\CUBRID\CUBRID-FOR-WSL" 
                             Value="installed" 
                             Result="exists" 
                             Variable="IsInstalledReg" 
                             Win64="yes" />

        <bal:Condition Message="#(loc.FailureAlreadyInstalled)">
            NOT IsInstalledReg OR WixBundleInstalled
        </bal:Condition> -->

        <util:ProductSearch Id="CheckMsiInstalled" 
                    ProductCode="{279d7d8d-d2b2-4644-b02c-e9e3ca8dd8bc}" 
                    Result="version" 
                    Variable="MsiInstalledVersion" />

        <bal:Condition Message="#(loc.FailureAlreadyInstalled)">
            WixBundleAction &lt;&gt; 5 OR NOT MsiInstalledVersion OR WixBundleInstalled
        </bal:Condition>

        <Log Disable="yes" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl=""
                LogoFile="..\..\resources\cubrid_logo.png"
                ThemeFile="..\wix_src\BundleTheme.xml"
                LocalizationFile="..\wix_src\strings\BundleTheme_en-us.wxl" />
            <Payload Name="1033\thm.wxl" SourceFile="..\wix_src\strings\BundleTheme_en-us.wxl" />
            <Payload Name="1042\thm.wxl" SourceFile="..\wix_src\strings\BundleTheme_ko-kr.wxl" />
        </BootstrapperApplicationRef>
        
        <WixVariable Id="WixStdBALanguageId" Value="0" Overridable="yes" />

          <Chain>
            <MsiPackage SourceFile="CUBRID_Base.msi"
                        DisplayInternalUI="yes" 
                        Visible="yes" 
                        ForcePerMachine="yes"
                        Permanent="no"
                        Vital="yes">
                <MsiProperty Name="TRANSFORMS" Value=":[SystemLanguageID]" />
                <MsiProperty Name="BUNDLEPROVIDERKEY" Value="[WixBundleProviderKey]" />
                <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
